<html>
    <head>
        <title>OSM-Swecha Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/skeleton.css">
    </head>
    <body>
        <div class="container" style="margin-top: 100px">
        <h4 style="text-align: center">{{ message }}</h4>

<center>     <form method="post" action="http://kluglug.tk/osm-leaderboard/details.php" >

<input type="text" name="name" placeholder="Enter your name" required /><br />
<input type="email" name="email" placeholder="Enter your email" required/><br />
<input type="text" name="college" placeholder="Enter your college" required/><br />
<input type="text" name="id" placeholder="Enter your college id" required /><br />
<input type="submit" />
</form></center>
            </div>
    </body>
</html>
<html>
    <head>
        <title>OSM-Swecha Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/skeleton.css">
    </head>
    <body>
        <div class="container" style="margin-top: 100px">
        <h4 style="text-align: center">{{ message }}</h4>

        <p style="text-align: center">
           Watch the <a href="/leaderboard">Leaderboard</a> for your
            contributions.</p>
        </div>
    </body>
</html>

